* {margin:0; padding:0; box-sizing: border-box;}

html {
    width: 100dvw;
    height: 100dvh;
    font-family: monospace;
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
    font-size: 0; /* Prevents bugs when window is zoomed in by some 500%. */
}

.amc-hidden,
.amc-hidden-tab {
    display: none;
}

#amc {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

#amc-body {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
}

.amc-tab {
    width: 100%;
    height: 100%;
}

#amc-main {
    opacity: 0;
}

#amc-main > span:first-of-type {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#amc-panel-wrapper {
    display: inline-block;
    vertical-align: middle;
    font-size: 2vmin;
    color: silver;
    background-color: black;
    border-radius: 0.5rem;
    filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 1));
    text-align: center;
}

#amc-panel-primary,
#amc-panel-secondary,
#amc-panel-tertiary {
    display: inline-block;
    text-align: left;
}

table.amc-tui {
    border-spacing: 0;
}

table.amc-tui > tr > td {
    vertical-align: top;
}

#amc[data-mudstate="login"] #amc-primary-top,
#amc[data-mudstate="login-wrong-password"] #amc-primary-top {
    vertical-align: middle;
}

#amc-primary-top,
#amc-primary-bottom,
#amc-secondary-top,
#amc-secondary-bottom,
#amc-tertiary-top,
#amc-tertiary-bottom {
    position: relative;
}

#amc-chatview-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(255,255,255,0.5) rgba(255,255,255,0.25);
}

#amc-chatview {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.amc-chat-private > span:nth-of-type(1),
.amc-chat-private > span:nth-of-type(2) {
    color: teal;
}

.amc-chat-private > span:nth-of-type(1)::after {
    content: " → ";
}

.amc-chat-public > span:nth-of-type(1)::after,
.amc-chat-private > span:nth-of-type(2)::after {
    content: ": ";
}

.amc-chat-public::before,
.amc-chat-private::before {
    content: "[" attr(data-time) "] ";
}

#amc-mainview-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(255,255,255,0.5) rgba(255,255,255,0.25);
}

#amc-zoneview-wrapper,
#amc-statview-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#amc-terminal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    text-align: left;
}

#amc-terminal {
    width: 100%;
    height: 100%;
}

.xterm-viewport {
    scrollbar-width: thin;
    scrollbar-color: rgba(255,255,255,0.5) rgba(255,255,255,0.25);
}

#amc-login-form {
    text-align: center;
}

#amc-login-form > table {
    display: inline-block;
    text-align: left;
}

.amc-login-form-slot {
    position: relative;
}

.amc-login-form-slot > input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

button {
    outline: none;
    cursor: pointer;
    background-image: linear-gradient(
        to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%
    );
    border-radius: 1rem;
    border: 0.1rem solid #8F9092;
    transition: all 0.2s ease;
    font-weight: bold;
    color: #606060;
    text-shadow: 0 0.1rem 0.1rem #fff;
    padding: 0.5rem;
    opacity: 1;
    filter: drop-shadow(0rem 0rem 0rem gray);
}

button:hover {
    box-shadow: inset 0 0 0.1rem 0.1rem #CECFD1;
}

button:active {
    box-shadow: inset 0 0 0.2rem 0.1rem #999, inset 0 0 1rem #aaa;
    filter: drop-shadow(0rem 0rem 0.2rem gray);
}

button:focus {
    box-shadow: inset 0 0 0.2rem 0.1rem #999, inset 0 0 1rem #aaa;
    filter: drop-shadow(0rem 0rem 0.2rem gray);
}

#amc.amc-buttons-disabled button {
    pointer-events: none;
    opacity: 0.5;
}

input[type="text"], input[type="password"], input[type="submit"], textarea {
    font-family: monospace;
    font-size: 2vmin;
    margin: 0;
    padding: 0;
    border: none;
    color: silver;
    background-color: transparent;
    color-scheme: dark;
    border-left: 0.5vmin dotted transparent;
    border-right: 0.5vmin dotted transparent;
}

textarea:focus, input:focus{
    outline: none;
    border-right: 0.5vmin dotted rgba(255, 255, 255, 0.25);
    filter: drop-shadow(0 0 0.5vmin rgba(255, 255, 255, 0.50));
}

input[type="submit"] {
    text-decoration: underline;
}

input[type="submit"]:hover {
    cursor: pointer;
    color: white;
}
