* {margin:0; padding:0; box-sizing: border-box;}

html {
    width: 100dvw;
    height: 100dvh;
    font-family: unscii, monospace;
}

body {
    width: 100%;
    height: 100%;
    background-color: black;
    font-size: 0; /* Prevents bugs when window is zoomed in by some 500%. */
}

.amc-hidden,
.amc-hidden-tab {
    display: none;
}

#amc {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    overflow: hidden;
}

#amc-body {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
}

.amc-tab {
    width: 100%;
    height: 100%;
}

#amc-main {
    opacity: 0;
    white-space: nowrap;
}

.sndc-main-font {
    font-family: unscii, monospace;
}

pre {
    font-family: unscii, monospace;
}

#amc-panel-wrapper {
    font-size: 16px;
    line-height: 16px;
    filter: drop-shadow(
        0 0 1px rgba(0, 0, 0, 1)
    ); /* kludgy fix for FF table cell-spacing artefacts */
}

table.amc-tui-fg > tr > td:not(.amc-tui-cell) > pre {
    visibility: hidden;
}

table.amc-tui {
    pointer-events: initial;
    border-spacing: 0;
    border-radius: 1px; /* kludgy fix for Chrome's table cell-spacing artefacts */
}

table.amc-tui-fg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-color: transparent;
}

/*#amc:not([data-mudstate="in-game"]) #amc-panel-wrapper > table:not(.amc-tui-fg) {
    background-color: transparent;
}*/

#amc[data-mudstate=""] #amc-panel-wrapper > table:not(.amc-tui-fg),
#amc[data-mudstate="login"] #amc-panel-wrapper > table:not(.amc-tui-fg) {
    display: none;
}

#amc:not([data-mudstate="in-game"]) #amc-foreview-wrapper {
    display: none;
}

table.amc-tui > tr > td {
    vertical-align: top;
}

.amc-tui-cell {
    position: relative;
}

div[data-author="You"].amc-chat-public > span:nth-of-type(2),
div[data-author="You"].amc-chat-public > span:nth-of-type(3),
div.amc-chat-private > span:nth-of-type(2),
div.amc-chat-private > span:nth-of-type(3) {
    color: teal;
}

div[data-target="the immortals"].amc-chat-private > span:nth-of-type(2),
div[data-target="the immortals"].amc-chat-private > span:nth-of-type(3),
div[data-target="the immortals"].amc-chat-private > span:nth-of-type(4) {
    color: green;
}

div.amc-chat-private > span:nth-of-type(4),
div.amc-chat-public > span:nth-of-type(4) {
    font-style: italic;
}

#amc-foreview-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#amc-chatview-wrapper,
#amc-roomview-wrapper,
#amc-noteview-wrapper,
#amc-terminal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(255,255,255,0.5) rgba(255,255,255,0.25);
}

.amc-linkview-wrapper,
#amc-login-form-wrapper,
#amc-mainview-wrapper,
#amc-inputbar-wrapper,
#amc-zoneview-wrapper,
#amc-gearview-wrapper,
#amc-statview-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

#amc-chatview-wrapper,
#amc-roomview-wrapper,
#amc-terminal-wrapper {
    top: -7px;
    right: -1px;
    bottom: -6px;
}

.amc-linkview-wrapper,
#amc-inputbar-wrapper {
    top: -7px;
    left: -2px;
    right: -1px;
    bottom: -6px;
}

.amc-linkview{
    margin-top: 7px;
    margin-left: 2px;
}

#amc-foreview-wrapper:not([data-tab="GEAR"]) #amc-gearview-wrapper,
#amc-foreview-wrapper:not([data-tab="CHAT"]) #amc-chatview-wrapper {
    display: none;
}

.amc-linkview-wrapper[data-tab="PAGE"]:hover,
.amc-linkview-wrapper[data-tab="GEAR"]:hover,
.amc-linkview-wrapper[data-tab="CHAT"]:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 0.5vmin rgba(255, 255, 255, 0.50));
}

#amc-foreview-wrapper[data-tab="PAGE"] .amc-linkview-wrapper[data-tab="PAGE"],
#amc-foreview-wrapper[data-tab="GEAR"] .amc-linkview-wrapper[data-tab="GEAR"],
#amc-foreview-wrapper[data-tab="CHAT"] .amc-linkview-wrapper[data-tab="CHAT"] {
    cursor: default;
    filter: none;
    text-decoration: underline;
}

#amc-zoneview,
#amc-mainview {
    white-space: pre-wrap;
}

#amc-noteview,
#amc-chatview {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-top: 7px;
    margin-bottom: 6px;
}

#amc-roomview {
    display: none;
    white-space: pre;
}

#amc[data-mudstate="in-game"] #amc-roomview {
    display: initial;
}

#amc-roomview[data-room] #amc-roomview-desc::before {
    content: "  ";
}

#amc-roomview:not([data-room]) #amc-roomview-exit-info {
    display: none;
}

#amc-roomview > details > summary {
    display: inline-block;
    cursor: pointer;
}

#amc-roomview > details > summary::marker {
    content: "";
}

#amc-roomview > details > summary:hover {
    filter: drop-shadow(0 0 0.5vmin rgba(255, 255, 255, 0.50));
}

#amc-terminal-wrapper > span:nth-child(1) {
    display: inline-block;
    height: 100%;
}

#amc-terminal {
    display: inline-block;
    width: 100%;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-top: 7px;
    margin-bottom: 6px;
    vertical-align: bottom;
}

#amc-login-form {
    position: relative;
}

#amc-login-form > table {
    text-align: left;
    display: inline-block;
}

.amc-login-form-slot {
    position: relative;
}

#amc-inputbar,
.amc-login-form-slot > input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

button {
    outline: none;
    cursor: pointer;
    background-image: linear-gradient(
        to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%
    );
    border-radius: 1rem;
    border: 0.1rem solid #8F9092;
    transition: all 0.2s ease;
    font-weight: bold;
    color: #606060;
    text-shadow: 0 0.1rem 0.1rem #fff;
    padding: 0.5rem;
    opacity: 1;
    filter: drop-shadow(0rem 0rem 0rem gray);
}

button:hover {
    box-shadow: inset 0 0 0.1rem 0.1rem #CECFD1;
}

button:active {
    box-shadow: inset 0 0 0.2rem 0.1rem #999, inset 0 0 1rem #aaa;
    filter: drop-shadow(0rem 0rem 0.2rem gray);
}

button:focus {
    box-shadow: inset 0 0 0.2rem 0.1rem #999, inset 0 0 1rem #aaa;
    filter: drop-shadow(0rem 0rem 0.2rem gray);
}

#amc.amc-buttons-disabled button {
    pointer-events: none;
    opacity: 0.5;
}

input[type="text"], input[type="password"], input[type="submit"], textarea {
    font-family: unscii, monospace;
    margin: 0;
    padding: 0;
    border: none;
    color: silver;
    background-color: transparent;
    color-scheme: dark;
    border-left: 0.5vmin dotted transparent;
    border-right: 0.5vmin dotted transparent;
    font-size: 16px;
    line-height: 16px;
    top: -7px;
    left: -3px;
    right: -3px;
    bottom: -7px;
}

#amc-inputbar-wrapper > input[type="text"] {
    font-size: 16px;
    line-height: 16px;
}

textarea:focus, input:focus{
    outline: none;
    border-right: 0.5vmin dotted rgba(255, 255, 255, 0.25);
    filter: drop-shadow(0 0 0.5vmin rgba(255, 255, 255, 0.50));
}

#amc-inputbar-wrapper > input:focus::placeholder {
    color: transparent;
}

input[type="submit"] {
    text-decoration: underline;
}

input[type="submit"]:hover {
    cursor: pointer;
    color: white;
}

.amc-statview-health-bar[data-symbol="▒"] {
    color: limegreen;
}

.amc-statview-health-bar[data-symbol="░"] {
    color: maroon;
}

.amc-statview-spirit-bar[data-symbol="▒"] {
    color: royalblue;
}

.amc-statview-spirit-bar[data-symbol="░"] {
    color: maroon;
}

.amc-statview-xp-bar[data-symbol="▒"] {
    color: white;
}

.amc-statview-xp-bar[data-symbol="░"] {
    color: gray;
}

#amc-mainview > span[data-sector="city"] {
    color: lightgray;
}

#amc-mainview > span[data-sector="inside"] {
    color: gray;
}

#amc-mainview > span[data-sector="road"] {
    color: goldenrod;
}

#amc-mainview > span[data-sector="forest"] {
    color: darkgreen;
}

#amc-mainview > span[data-sector="field"] {
    color: limegreen;
}

#amc-mainview > span[data-sector="swim"] {
    color: blue;
}

#amc-mainview > span[data-sector="noswim"] {
    color: darkblue;
}

#amc-mainview > span[data-sector="underground"] {
    color: darkslategray;
}

#amc-mainview > span[data-sector="moors"] {
    color: teal;
}

#amc-mainview > span[data-sector="hills"] {
    color: greenyellow;
}
